<div class="container top-container mx-auto">
  <div class="mt-5">
    <div class="d-flex justify-content-center align-items-center">
      <h3 class="px-5 py-2 m-0 heading animation-div">ABOUT ME</h3>
    </div>
    <div class="my-3">
      <p>
        Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex
        aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos
        quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat
        sit in iste officiis commodi quidem hic quas.
      </p>
    </div>
    <div class="row">
      <div
        class="col-md-4"
      >
        <div class="about-img-cont d-flex mx-0">
          <img class="" src="assets\html-system-website-concept.jpg" />
        </div>
      </div>
      <div
        class="col-md-8"
      >
        <h3>Full Stack Developer.</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <div class="row">
          <div class="col-6">
            <p>
              <i
                class="fa-solid fa-greater-than"
                style="font-size: 16px; color: #149ddd"
              ></i>
              <strong class="mx-2">Birthday: </strong>13 August 2000
            </p>
            <p>
              <i
                class="fa-solid fa-greater-than"
                style="font-size: 16px; color: #149ddd"
              ></i>
              <strong class="mx-2">Phone: </strong>9518312166
            </p>
            <p>
              <i
                class="fa-solid fa-greater-than"
                style="font-size: 16px; color: #149ddd"
              ></i>
              <strong class="mx-2">Location </strong>Pune
            </p>
          </div>
          <div class="col-6">
            <p>
              <i
                class="fa-solid fa-greater-than"
                style="font-size: 16px; color: #149ddd"
              ></i>
              <strong class="mx-2">Degree: </strong>Master
            </p>
            <p style="word-break: break-word; white-space: pre-line">
              <i
                class="fa-solid fa-greater-than"
                style="font-size: 16px; color: #149ddd"
              ></i>
              <strong class="mx-2">Email: </strong>vishvajithavale13@gmail.com
            </p>
            <p>
              <i
                class="fa-solid fa-greater-than"
                style="font-size: 16px; color: #149ddd"
              ></i>
              <strong class="mx-2">Freelance: </strong>Available
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-12 d-sm-flex justify-content-center align-items-center">
      <h2 class="edu-heading m-0">Work Experience</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 left-col py-5">
      <div class="timeline-badge">
        <i class="fa-solid fa-suitcase"></i>
      </div>
      <div class="field-container">
        <div class="">
          <div class="timeline-heading">
            <h3
              class="timeline-title"
              data-aos="fade-left"
              data-aos-duration="1000"
              data-aos-once="true"
            >
              Full Stack Developer
            </h3>
            <span class="company">RBIS - Sept 2023 - Current</span>
          </div>
          <div class="timeline-body">
            <p class="m-0">
              Far far away, behind the word mountains, far from the countries
              Vokalia and Consonantia, there live the blind texts.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 right-col py-5 d-none d-sm-block"></div>
    <div class="col-md-6 left-col pb-5 d-none d-sm-block"></div>
    <div class="col-md-6 right-col pb-5">
      <div class="timeline-badge" style="left: -2px">
        <i class="fa-solid fa-suitcase"></i>
      </div>
      <div class="field-container">
        <div class="">
          <div class="timeline-heading">
            <h3
              class="timeline-title"
              data-aos="fade-right"
              data-aos-duration="1000"
              data-aos-once="true"
            >
              Full Stack Developer Intern
            </h3>
            <span class="company">CSP - Jan 2023 - Oct 2023</span>
          </div>
          <div class="timeline-body">
            <p class="m-0">
              Far far away, behind the word mountains, they live in
              Bookmarksgrove right at the coast of the Semantics, a large
              language ocean.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div
      class="col-md-12 d-sm-flex justify-content-center align-items-center m-0"
    >
      <h3 class="edu-heading m-0">Education</h3>
    </div>
    <div class="col-md-6 left-col py-5">
      <div class="timeline-badge">
        <i class="fa-solid fa-graduation-cap"></i>
      </div>
      <div class="field-container">
        <div class="">
          <div class="timeline-heading">
            <h3
              class="timeline-title"
              data-aos="fade-left"
              data-aos-duration="1000"
              data-aos-once="true"
            >
              Masters Degree
            </h3>
            <span class="company timeline-body"
              >North Maharastra Univercity - 2021 - 2023</span
            >
          </div>
          <div class="timeline-body">
            <p class="m-0">
              Far far away, behind the word mountains, far from the countries
              Vokalia and Consonantia, there live the blind texts.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 right-col py-5 d-none d-sm-block"></div>
    <div class="col-md-6 left-col pb-5 d-none d-sm-block"></div>
    <div class="col-md-6 right-col pb-5">
      <div class="field-container">
        <div class="timeline-badge" style="left: -2px">
          <i class="fa-solid fa-graduation-cap"></i>
        </div>
        <div class="">
          <div class="timeline-heading">
            <h3
              class="timeline-title"
              data-aos="fade-right"
              data-aos-duration="1000"
              data-aos-once="true"
            >
              Bachelors Degree
            </h3>
            <span class="company">SSMM College Pachora Name - 2018 - 2021</span>
          </div>
          <div class="timeline-body">
            <p class="m-0">
              Far far away, behind the word mountains, they live in
              Bookmarksgrove right at the coast of the Semantics, a large
              language ocean.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <ul class="timeline"></ul>
    </div>
  </div>
</div>
