<nav
  class="navbar navbar-expand-lg bg-body-tertiary position-sticky"
  style="top: 0; z-index: 1000"
>
  <div class="container-fluid">
    <a class="navbar-brand" (click)="onLinkClick(toggleButton)" href="#"
      >Navbar</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
      #toggleButton
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="me-auto"></div>
      <div>
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item">
            <a
              class="nav-link active"
              (click)="onLinkClick(toggleButton)"
              aria-current="page"
              routerLink=""
              >Home</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              (click)="onLinkClick(toggleButton)"
              routerLink="about"
              >About Me</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              (click)="onLinkClick(toggleButton)"
              routerLink="skills"
              >Skills</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              (click)="onLinkClick(toggleButton)"
              routerLink="portfolio"
              >Portfolio</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              (click)="onLinkClick(toggleButton)"
              routerLink="other"
              >Other</a
            >
          </li>
          <li class="nav-item">
            <a
              class="btn btn-outline-success"
              (click)="onLinkClick(toggleButton)"
              routerLink="contact"
              >Contact Me</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<!-- <input
  type="search"
  class="form-control icon-icon"
  id="Certificate"
  aria-describedby="namehelp"
  placeholder="Search"
  [(ngModel)]="searchText"
  (keyup)="getStudentDetails()"
/>
<div *ngIf="brands.length > 0">
  <h3>Brands for {{ searchText }}</h3>
  <ul>
    <li *ngFor="let brand of brands">{{ brand }}</li>
  </ul>
</div>

<div *ngIf="brands.length === 0 && searchText">
  <p>No brands found for {{ searchText }}</p>
</div>

<h1 class="skills">{{currentSkill}}</h1> -->
<!-- <div>
  <div>
    <input
      type="text"
      placeholder="Search products"
      [(ngModel)]="searchTerm"
      (input)="onSearch()"
    />
  </div>

  <div
    *ngIf="filteredProducts.length > 0 && searchTerm.length > 0; else noResults"
  >
    <div *ngFor="let product of filteredProducts"> -->
<!-- Display product information -->
<!-- <p>
        {{ product.name }}
      </p>
    </div>
  </div>

  <ng-template #noResults>
    <p>No results found.</p>
  </ng-template>
</div> -->

<!-- <div style="width: auto !important">
  <h1 style="display: inline-block; height: 60px !important;" class="bg-primary">{{ lang }}</h1>
  <h1>ok</h1>
</div> -->
