<div class="container-fluid vh-100">
  <div class="overlay d-flex justify-content-center align-items-center">
    <div class="text-center">
      <img class="home-img" src="assets\profile.jpeg" />
      <div>
        <h1 class="name-head"><span>Vishvajit Havale</span></h1>
        <h3 class="field-head"><span>Full Stack Developer</span></h3>
      </div>
      <div
        class="mt-3 pb-5 social-media"
        data-aos="fade-up"
        data-aos-once="true"
        data-aos-duration="2000"
      >
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-linkedin mx-3"></i>
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-instagram mx-3"></i>
        <i class="fa-brands fa-github"></i>
      </div>
    </div>
  </div>
</div>
<div>
  <app-about-me></app-about-me>
</div>
<div>
  <app-skills></app-skills>
</div>
<div>
  <app-portfolio></app-portfolio>
</div>
<div>
  <app-contact-me></app-contact-me>
</div>
