<div class="main-cont py-5">
  <div class="container mx-auto">
    <div class="d-flex justify-content-center align-items-center">
      <h3 class="px-5 py-2 m-0 heading animation-div">SKILLS</h3>
    </div>
    <div class="mt-4">
      <div class="mx-auto" style="width: 60%">
        <h4>Using Now :</h4>
        <div class="container">
          <div class="row">
            <div class="col-md-2 mt-3 col-4">
              <div class="text-center">
                <i
                  class="fab fa-html5 skilss-icon"
                  data-aos="flip-up"
                  data-aos-once="true"
                  data-aos-duration="2000"
                  style="color: #ffa500"
                ></i>
                <h6>HTML</h6>
              </div>
            </div>
            <div class="col-md-2 mt-3 col-4">
              <div class="text-center">
                <i
                  class="fab fa-css3-alt skilss-icon"
                  style="color: #3498db"
                  data-aos="flip-up"
                  data-aos-once="true"
                  data-aos-duration="2000"
                ></i>
                <h6>CSS</h6>
              </div>
            </div>
            <div class="col-md-2 mt-3 col-4">
              <div class="text-center">
                <i
                  class="fab fa-js skilss-icon"
                  data-aos="flip-up"
                  data-aos-once="true"
                  data-aos-duration="2000"
                  style="color: #f7df1e"
                ></i>
                <h6>JavaScript</h6>
              </div>
            </div>
            <div class="col-md-2 mt-3 col-4">
              <div class="text-center">
                <i
                  class="fab fa-bootstrap skilss-icon"
                  style="color: #7952b3"
                  data-aos="flip-up"
                  data-aos-once="true"
                  data-aos-duration="2000"
                ></i>
                <h6>Bootstrap</h6>
              </div>
            </div>
            <div class="col-md-2 mt-3 col-4">
              <div class="text-center">
                <i
                  class="fab fa-python skilss-icon"
                  data-aos="flip-up"
                  data-aos-once="true"
                  data-aos-duration="2000"
                  style="color: #3776ab"
                ></i>
                <h6>Python</h6>
              </div>
            </div>
            <div class="col-md-2 mt-3 col-4">
              <div class="text-center">
                <i
                  class="fas fa-database skilss-icon"
                  style="color: #00758f"
                  data-aos="flip-up"
                  data-aos-once="true"
                  data-aos-duration="2000"
                ></i>
                <h6>MySQL</h6>
              </div>
            </div>
            <div class="col-md-2 mt-3 col-4">
              <div class="text-center">
                <i
                  class="fab fa-git skilss-icon"
                  data-aos="flip-up"
                  data-aos-once="true"
                  data-aos-duration="2000"
                  style="color: #f05032"
                ></i>
                <h6>Git</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-4">
        <div class="mx-auto" style="width: 60%">
          <h4>LEARNING :</h4>
          <div class="container">
            <div class="row">
              <div class="col-md-2 mt-3 col-4">
                <div class="text-center">
                  <i
                    class="fa-brands fa-angular skilss-icon"
                    style="color: #dd0031"
                    data-aos="flip-up" data-aos-once="true" data-aos-duration="2000"
                  ></i>
                  <h6>Angular</h6>
                </div>
              </div>
              <div class="col-md-2 mt-3 col-4">
                <div class="text-center">
                  <i
                    class="fab fa-react skilss-icon"
                    style="color: #61dafb"
                    data-aos="flip-up" data-aos-once="true" data-aos-duration="2000"
                  ></i>
                  <h6>React</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
